<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<br>

<div class="ui-g-12 ui-lg-6 stats">
    <p-panel header="Statistics" class="ng-tns-c2-10">
        <div class="ng-tns-c2-10 ui-panel ui-widget ui-widget-content ui-corner-all" id="ui-panel-1">
            <div class="ng-tns-c2-10 titlebar ui-widget-header ui-helper-clearfix ui-corner-all ng-star-inserted">
                <!----><span class="ui-panel-title ng-tns-c2-10 ng-star-inserted" id="ui-panel-1_header">Total Facilities </span>
                <!---->
            </div>
            <div class="ui-panel-content-wrapper ng-trigger ng-trigger-panelContent" role="region"
                id="ui-panel-1-content" aria-hidden="false" aria-labelledby="ui-panel-1-label" style="opacity: 1;">
                <div class="content ui-widget-content">
                    <div class="knob-1 knob">
                        <p-chart type="doughnut" [data]="data" [responsive]="true"></p-chart>
                    </div>
                    <!--<div class="ui-g legend">
                        <div class="ui-g-12 ui-md-4 nonRes">
                            <div class="non-res-color legend-color"></div>
                            <div class="legend-name">Non Residential Buildings</div>
                            <div class="legend-number">{{nonResidentialBuildings.total}}</div>
                        </div>
                        <div class="ui-g-12 ui-md-4 dwellings">
                            <div class="legend-color"></div>
                            <div class="legend-name">Dwellings</div>
                            <div class="legend-number">{{dwellings.total}}</div>
                        </div>
                        <div class="ui-g-12 ui-md-4 land">
                            <div class="legend-color"></div>
                            <div class="legend-name">Land</div>
                            <div class="legend-number">{{land.total}}</div>
                        </div>
                    </div>-->
                </div>
                <!---->
            </div>
        </div>
    </p-panel>
</div>

<div class="ui-g-12 ui-lg-6 stats">
    <p-panel header="Statistics" class="ng-tns-c2-10">
        <div class="ng-tns-c2-10 ui-panel ui-widget ui-widget-content ui-corner-all" id="ui-panel-1">
            <div class="ng-tns-c2-10 titlebar ui-widget-header ui-helper-clearfix ui-corner-all ng-star-inserted">
                <!----><span class="ui-panel-title ng-tns-c2-10 ng-star-inserted" id="ui-panel-1_header">2019 Immovable Tangible Capital Assets</span>
                <!---->
            </div>
            <div class="dashboard-notification-container">
                <p-chart type="bar" [data]="lineChartdata" [responsive]="true"></p-chart>
            </div>
        </div>
    </p-panel>
</div>

<div class="ui-g-12 ui-lg-12">
    <p-table [value]="facilityType.facilityZonings">
        <ng-template pTemplate="header">
            <tr>
                <th>Property Type</th>
                <th>Signed Off</th>
                <th>Total</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td class="capitalize">{{product.name}}</td>
                <td>{{product.signedOff}}</td>
                <td>{{product.total}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>