/* You can add global styles to this file, and also import other style files */
a { cursor: pointer }

.text-center{
    text-align: center;
}

.row{
    padding: 15px 0px 15px 0px;
}
:host ::ng-deep button {
    margin-right: .25em;
}

:host ::ng-deep .custom-toast .ui-toast-message {
    color: #ffffff;
    background: #FC466B;
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    background: linear-gradient(to right, #3F5EFB, #FC466B);
}

:host ::ng-deep .custom-toast .ui-toast-close-icon {
    color: #ffffff;
}

.container{
    padding: 100px 15px 0px 120px;
    height: 100%;
    width: 100%;
    bottom: 0px;
    position: absolute;
    top: 0px;
    background: #26343f;
}

body .ui-breadcrumb {
    background-color: #172027 !important;
}

body .ui-table .ui-table-caption, body .ui-table .ui-table-summary {
    background-color: #172027 !important;
}

body .ui-paginator {
    background-color: #172027 !important;
}

body .ui-table .ui-table-tbody > tr {
    background-color: #26343f !important;
}
body .ui-dialog .ui-dialog-titlebar {
    background-color: #172027 !important;
}

body .ui-dialog .ui-dialog-content {
    background-color: #26343f !important;
}

body .ui-dialog .ui-dialog-footer {
    background-color: #172027 !important;
}

body .ui-inputgroup .ui-inputgroup-addon {
    background-color: #172027 !important;
}